name: Daily Futures Report

on:
  schedule:
    # 台北時間 15:10 執行
    - cron: '10 7 * * 1-5'
  workflow_dispatch:

jobs:
  run-scraper:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install
        run: pip install pandas requests beautifulsoup4 lxml html5lib

      - name: Execute
        env:
          TG_TOKEN: ${{ secrets.TG_TOKEN }}
          TG_CHAT_ID: ${{ secrets.TG_CHAT_ID }}
        run: python main.py

      - name: Git Push
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add data/futures_history.csv
          git commit -m "Update Data: $(date +'%Y-%m-%d')" || exit 0
          git push
